{minimum_otp_vsn, "18"}.

{erl_opts, [
    debug_info,
    {platform_define, "^19", 'POST_OTP_18'},
    {platform_define, "^[2-9]", 'POST_OTP_18'}
]}.

{project_plugins, [covertool]}.

{profiles, [
    {test, [
        {overrides, [{override, rebar3,[{deps, [{erlware_commons, "1.2.0"}]}]}]},
        {deps, [{hex_core, "0.4.0"}, {rebar, {git, "git://github.com/erlang/rebar3.git", {tag, "3.8.0"}}},
                {erlware_commons, "1.2.0"}, {elli, "3.0.0"},
                {jsone, "1.4.7"}, {meck, "0.8.12"}]},
        {erl_opts, [nowarn_export_all]}
    ]}
]}.

{xref_ignores, [
                {rebar3_hex, init, 1}, {rebar3_hex, do, 1},
                {rebar3_hex_cut, init, 1}, {rebar3_hex_cut, do, 1}, {rebar3_hex_cut, format_error, 1},
                {rebar3_hex_docs, init, 1}, {rebar3_hex_docs, do, 1}, {rebar3_hex_docs, format_error, 1},
                {rebar3_hex_key, init, 1}, {rebar3_hex_key, do, 1}, {rebar3_hex_key, format_error, 1},
                {rebar3_hex_owner, init, 1}, {rebar3_hex_owner, do, 1}, {rebar3_hex_owner, format_error, 1},
                {rebar3_hex_publish, init, 1}, {rebar3_hex_publish, do, 1}, {rebar3_hex_publish, format_error, 1},
                {rebar3_hex_publish, test, 0}, {rebar3_hex_publish, error_test, 0},
                {rebar3_hex_repo, init, 1}, {rebar3_hex_repo, do, 1}, {rebar3_hex_repo, format_error, 1},
                {rebar3_hex_utils, format_error, 1},
                {rebar3_hex_retire, init, 1}, {rebar3_hex_retire, do, 1},
                {rebar3_hex_user, init, 1},  {rebar3_hex_user, do, 1}, {rebar3_hex_user, format_error, 1},
                {rebar3_hex_user, whoami, 2}, {rebar3_hex_user, encrypt_write_keys, 3},
                {rebar3_hex_user, reset_password, 2}, {rebar3_hex_user, auth, 2},
                {rebar3_hex_user, deauth, 2},{rebar3_hex_user, encrypt_write_key, 3},
                {rebar3_hex_user, decrypt_write_key, 3}, {rebar3_hex_user, hex_register, 2},
                {rebar3_hex_retire, init, 1}, {rebar3_hex_retire, do, 1},
                {rebar3_hex_retire, format_error, 1}, {rebar3_hex_revert, revert, 4}, {rebar3_hex_revert, init, 1},
                {rebar3_hex_revert, do, 1}, {rebar3_hex_revert, format_error, 1},{rebar3_hex_retire, retire, 6},
                {rebar3_hex_search, init, 1}, {rebar3_hex_search, do, 1}, {rebar3_hex_search, format_error, 1}]}.

{alias, [{test, [{ct, "--cover"}, {cover, "-v"}]}]}.
